<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer Blog</title>
</head>
<body>
    <div>
        <h1>David's Blog!</h1>
    </div>
    <div>
        <p>Fecha de Publicación: fpublicacion</p>
        <h2><a href="">Primer post</a></h2>
        <p>Texto</p>
    </div>
    <div>
        <p>Fecha de Publicación: fpublicacion</p>
        <h2><a href="">Segundo post</a></h2>
        <p>Texto</p>
    </div>
</body>
</html>