<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Primer Blog</title>
</head>
<body>
    <div>
        <h1>David's Blog!</h1>
    </div>
    
    {% for post in posts %}
        <div>
            <p>Fecha de publicacion: {{ post.fpublicacion}} </p>
            <h2><a href=""> {{ post.titulo }} </a></h2>
            <p>{{ post.texto}} </p>
        </div>
    {% endfor %}

</body>
</html>